<p-tabs [value]="activeTab()">
  <p-tabpanels class="px-0!">
    <p-tabpanel value="dashboard">
      <app-tournament-dashboard />
    </p-tabpanel>
    <p-tabpanel value="teams">
      @if (loading()) {
        <div class="py-8 text-center text-[var(--p-text-muted-color)]">
          <i class="pi pi-spinner pi-spin mr-2"></i>
          {{ 'tournaments.detail.loading' | transloco }}
        </div>
      } @else {
        <app-teams />
      }
    </p-tabpanel>
    <p-tabpanel value="poules">
      @if (loading()) {
        <div class="py-8 text-center text-[var(--p-text-muted-color)]">
          <i class="pi pi-spinner pi-spin mr-2"></i>
          {{ 'tournaments.detail.loading' | transloco }}
        </div>
      } @else {
        <app-poules-tab />
      }
    </p-tabpanel>
    <p-tabpanel value="games">
      @if (loading()) {
        <div class="py-8 text-center text-[var(--p-text-muted-color)]">
          <i class="pi pi-spinner pi-spin mr-2"></i>
          {{ 'tournaments.detail.loading' | transloco }}
        </div>
      } @else {
        <app-games />
      }
    </p-tabpanel>
    @if (showFinale()) {
      <p-tabpanel value="finale">
        @if (loading()) {
          <div class="py-8 text-center text-[var(--p-text-muted-color)]">
            <i class="pi pi-spinner pi-spin mr-2"></i>
            {{ 'tournaments.detail.loading' | transloco }}
          </div>
        } @else {
          <app-finale-tab />
        }
      </p-tabpanel>
    }
  </p-tabpanels>
</p-tabs>
