:host {
  display: block;
  background-color: var(--p-surface-card);
  border-bottom: 1px solid var(--p-content-border-color);
  padding: 1rem 0;
  box-shadow: var(--p-card-shadow);
  color: var(--p-text-color);
}
