@if (sortedSeries().length > 0) {
  <p-accordion [multiple]="true" class="mb-3">
    @for (serie of sortedSeries(); track serie.ref.id) {
      <p-accordion-panel [value]="serie.ref.id">
        <p-accordion-header>
          <div class="flex align-items-center justify-content-between w-full pr-2">
            <span class="font-bold">{{ serie.name }}</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <ng-container
            *ngTemplateOutlet="
              poules;
              context: { $implicit: serie.poules, serieRef: serie.ref, serie: serie }
            "
          ></ng-container>
        </p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
} @else {
  <p-message severity="warn" class="mt-4">
    {{ 'admin.poules.noSeriesOrPoules' | transloco }}
  </p-message>
}

<ng-template #poules let-poules let-serieRef="serieRef">
  @for (poule of poules; track $index) {
    <p-card class="mb-2">
      <ng-template #header>
        <div class="flex align-items-center justify-content-between px-3 pt-3">
          <span class="font-bold">{{ poule.name }}</span>
        </div>
      </ng-template>
      @for (game of poule.games; track $index) {
        {{ game.refTeam1?.id }} vs {{ game.refTeam2?.id }} on {{ game.date | date: 'short' }}
      }
    </p-card>
  }
</ng-template>
