:host ::ng-deep .field-error {
  margin-top: 0.25rem;
}

:host ::ng-deep .p-floatlabel {
  width: 100%;
}

:host ::ng-deep .field .p-selectbutton {
  display: flex;
  width: 100%;
}

:host ::ng-deep .field .p-selectbutton .p-togglebutton {
  flex: 1;
}
